<!DOCTYPE html>
<style>
    .uploadBtn {
        float: right;
        padding-right: 10px;
        padding-left: 10px;
        background: #efeeef;
        padding-top: 6px;
        padding-bottom: 5px;
        margin-top: -6px;
        margin-right: 10px;
        border-radius: 4px;
    }

    .notifications {
        float: right;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: -10px;
        margin-right: 10px;
        border-radius: 5px;
    }

    #headerText {
        font-weight: bold;
        font-family: Georgia;
        padding-top: 8px !important;
        margin-top: 0px;
        cursor: pointer;
        color:wheat;
    }

    #loginDiv {
        position: absolute;
        right: 3%;
        margin: 25px;
    }

    .tabSelected {
        font-weight: bold;
        color: #0193B7;
    }

    #tabMenu {
        text-align: center;
        background-color: white;
        align-content:center;
        align-items:center;
        font-family:Georgia;
    }

    .tabMenuItem {
        cursor: pointer;
        font-size:20px;
        margin-left:15px;
        margin-right:15px;
    }

    #loading-indicator {
        margin:30px;
        background-color:#D1c5b7;
    }
</style>
<script>
    var urlRoot = '@Url.Content("~/")';
</script>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Digression Project - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*#063E53*@
    @*#735D41*@
    @*#0193B7*@
    <header>
        <div ng-app>
            <div ng-controller="LayoutCtrl" ng-cloak>
                <div class="row">
                    <div class="col-md-3 col-xs-3"></div>
                    <div style="text-align: center;" class="col-md-5 col-xs-5">
                        <h1 id="headerText" onclick="window.location = urlRoot;">Digression Project</h1>
                    </div>
                    <div class="col-md-2 col-xs-2" style="margin-top: 8px;">@Html.Partial("_LoginPartial")</div>
                </div>

                @{ 
                        var cont = ViewContext.RouteData.Values["controller"].ToString().ToLower();
                }
                <div id="tabMenu" class="row">
                    <div class="col-md-12" style="text-align: center">
                        <span ng-repeat="h in headerItems" class="tabMenuItem" ng-class="{ tabSelected: h.toLowerCase() == '@cont'}" onclick="selectTab(this)">
                            {{h}}
                        </span>
                    </div>
                </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

<script src="~/Scripts/Controllers/NotificationController.js"></script>
<script src="~/Scripts/Controllers/LayoutController.js"></script>

<script>

    function clear() {
        $('.tabMenuItem').removeClass('tabSelected');
    }
    function trim (str) {
        return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
    }

    function selectTab(item) {
        clear();
        var c = trim($(item).html());
        window.location = urlRoot + c + '/index';
    }

</script>