<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style>
    .contentBody {
        overflow: auto;
        position: absolute;
        top: 150px;
        left: 42%;
        right: 5%;
        bottom: 50px;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 18px;
    }

    .searchBox {
        overflow: auto;
        position: absolute;
        top: 150px;
        left: 10%;
        right: 60%;
        bottom: 50px;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 16px;
    }

    .annotationPane {
        overflow: auto;
        position: absolute;
        top: 200px;
        left: 10%;
        right: 60%;
        bottom: 50px;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 16px;
    }

    .border {
        border: 1px solid black;
    }

    .georgia {
        font-family: Georgia;
    }

    .highlight {
        background-color: darkgray;
    }
</style>

<html ng-app>
<body>
    <div ng-controller="TextViewCtrl">
        <div style="text-align: center;">
            <p class="georgia" style="font-size: 25px"><i>{{title}}</i>, {{author}} <a data-toggle="modal" data-target="#myModal" 
                ng-show="uploader == '@User.Identity.Name' || @Roles.IsUserInRole("CanEdit").ToString().ToLower()" style="font-size:12px">edit</a></p>
        </div>
        <div class="searchBox">
            <input ng-model="annotationSearch" ng-change="annotationSearchUpdate()"/>
            <span class="glyphicon glyphicon-remove" ng-click="clearAnnotationSearch()" ></span>

        </div>
        <div class="annotationPane">
            @if (Request.IsAuthenticated) {
                <div>
                    <div ng-click="toggleAddAnnotation()">
                        <span class="glyphicon glyphicon-plus" ng-show="!isAddAnnotationVisible"></span>
                        <span class="glyphicon glyphicon-minus" ng-show="isAddAnnotationVisible"></span>
                        <a>Add annotation</a>
                    </div>
                    <div ng-show="isAddAnnotationVisible">
                        <div><b>Anchor:</b></div>
                        <div>
                            <input type="text" ng-model="anchor" ng-change="anchorUpdate()" />
                        </div>
                        <div>
                            <b>Annotation:</b>
                        </div>
                        <div>
                            <textarea ng-model="annotation" style="width: 300px; max-width: 300px"></textarea>
                        </div>
                        <div><b>Tags:</b></div>
                        <div>
                            <input type="text" ng-model="annotationTags" />
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <button type="button" data-loading-text="Loading..." class="btn btn-primary" style="margin: 5px" 
                                        ng-click="addAnnotation('@User.Identity.Name')">
                                            Add
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div><b>Matches:</b> {{matches}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            } else { 
                @Html.ActionLink("Log in to add an annotation", "Login", "Account", routeValues: new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink" })
            }
            <hr style="border-top: 1px solid black" />
            <div ng-repeat="ann in annotations" style="padding: 2px">
                <div ng-mouseover="hover($index)" ng-click="expand($index)"
                    ng-mouseenter="isMouseOver = true"
                    ng-mouseleave="isMouseOver = false"
                    ng-class="{highlight: isMouseOver}">
                    <b>{{ann.TextAnchor}}</b><br />
                    <div ng-if="!ann.Expanded">
                        {{ann.PreviewText}}
                    <span ng-if="ann.PreviewText.length != ann.Content.length">...
                    </span>
                    </div>
                    <div ng-if="ann.Expanded && !ann.EditMode" style="white-space: pre-wrap"><p>{{ann.Content}}</p></div>
                    <input type="text" ng-model="ann.Content" ng-if="ann.Expanded && ann.EditMode" style="white-space: pre-wrap" ng-click="editModeTextBoxClick($event)" />
                    <div ng-if="ann.Expanded">
                        <p>{{ann.DateString}}, by {{ann.Username}}</p>
                        <p ng-if="!ann.EditMode">Tags: {{ann.Tags}}</p>
                        <input type="text" ng-model="ann.Tags" ng-if="ann.EditMode" style="white-space: pre-wrap" ng-click="editModeTextBoxClick($event)" />
                    </div>
                    <div ng-if="ann.Expanded">
                        <div ng-if="(ann.Username != undefined && ann.Username == '@User.Identity.Name') || @Roles.IsUserInRole("CanEdit").ToString().ToLower()" >
                            @if (Request.IsAuthenticated) { 
                                <button type="button" class="btn btn-warning btn-xs">Report

                                </button>
                                <button type="button" ng-if="!ann.EditMode"
                                    ng-click="editAnnotation({ev: $event, idx: $index})"
                                    class="btn btn-primary btn-xs">
                                    Edit</button>
                                <button type="button" ng-if="ann.EditMode"
                                    ng-click="saveAnnotationEdit({ev: $event, idx: $index})"
                                    class="btn btn-primary btn-xs">
                                    Save</button>
                                <button type="button" ng-click="deleteAnnotation({ev: $event, idx: $index})"
                                    class="btn btn-danger btn-xs">
                                    Delete</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentBody">
            <p id="content" style="white-space: pre-wrap;" dir="auto">{{text}}</p>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit</h4>
                    </div>
                <table style="margin:25px">
                    <tr>
                        <td>Author:</td>
                        <td>
                            <input type="text" ng-model="author" />
                        </td>
                    </tr>
                    <tr>
                        <td>Title:</td>
                        <td>
                            <input type="text" ng-model="title" />
                        </td>
                    </tr>
                    <tr>
                        <td>Content:</td>
                        <td>
                            <textarea ng-model="text" style="width: 100%"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Tags:</td>
                        <td>
                            <input type="text" ng-model="tags" />
                        </td>
                    </tr>
                </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="updateTextDetails()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.highlight-4.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/linq.js_ver2.2.0.2/jquery.linq.js"></script>
<script src="~/Scripts/linq.js_ver2.2.0.2/linq.js"></script>
<script src="~/Scripts/Controllers/TextViewController.js"></script>
