<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style>
    .isAnnotation {
        background-color: white;
        font-size: 15px;
        padding: 15px;
    }

    .contentBody {
        overflow: auto;
        position: fixed;
        top: 173px;
        left: 42%;
        right: 5%;
        bottom: 30px;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 18px;
    }

    .contentLinear {
        overflow: auto;
        position: fixed;
        top: 173px;
        left: 6%;
        right: 5%;
        bottom: 30px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 18px;
    }

    .pillSelected {
        background-color: darkgray;
        border-radius: 5px;
        color: black;
    }

    .clicked {
        background: yellow;
        color: black;
        border-radius: 3px;
    }

    #searchBox {
        overflow: auto;
        position: relative;
        top: 0px;
        left: 0%;
        right: 0%;
        bottom: 0px;
        padding: 10px;
        /*background-color: #efeeef;*/
        font-family: Georgia;
        font-size: 16px;
        z-index: 3;
        /*background-color: lightblue;*/
    }

    #addAnnotationButton {
        background-color: #efeeef;
    }

    #addAnnotationDropDown {
        background-color: #efeeef;
        padding: 10px;
        max-width: 800px;
        min-width: 250px;
        /*width:300px;
        max-width:1000px;*/
        /*width:250%;*/
        /*overflow-x:hidden;
        overflow-y:auto;
        position: absolute;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 15px;*/
    }

    #addAnnotationPane {
        background-color: transparent;
        padding: 10px;
        /*background-color: #efeeef;*/
        font-family: Georgia;
        font-size: 16px;
        /*left:10%;
        top:210px;*/
        z-index: 4;
    }

    .annotationPane {
        /*overflow: hidden;*/
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 173px;
        left: 6%;
        right: 60%;
        bottom: 30px;
        padding: 10px;
        background-color: #efeeef;
        font-family: Georgia;
        font-size: 15px;
    }

    .border {
        border: 1px solid black;
    }

    .georgia {
        font-family: Georgia;
    }

    .highlight {
        background-color: darkgray;
    }

    .navLink {
        margin-top: -3px;
        margin-right: 10px;
        margin-left: 10px;
        color: #428bca;
        cursor: pointer;
    }

    #layoutOptions {
        /*position:absolute;
        left:45%;*/
        z-index: 4;
    }
</style>

@{
    ViewBag.Title = "Text View";
}

<html ng-app>
<body>
    <div ng-controller="TextViewCtrl" ng-cloak>
        <div style="text-align: center;" ng-show="isBaseText == true">
            <p class="georgia" style="font-size: 25px; white-space: nowrap; margin: 0px;">
                <a href="@Request.Url.PathAndQuery"><i>{{title}}</i>, {{author}}</a>
                <a data-toggle="modal" data-target="#editTextModal" 
                ng-show="uploader == '@User.Identity.Name' || @Roles.IsUserInRole("CanEdit").ToString().ToLower()" style="font-size:12px;cursor:pointer">edit</a>
            </p>
        </div>
        <div id="searchBox">
            <div ng-show="prevText != undefined" ng-click="navigatePrevious()">
                <div style="float: left" class="glyphicon glyphicon-arrow-left"></div>
                <div style="float: left" class="navLink">Previous</div>
            </div>

            <div ng-show="nextText != undefined" ng-click="navigateNext()">
                <div style="float: right" class="glyphicon glyphicon-arrow-right"></div>
                <div style="float: right" class="navLink">Next</div>
            </div>
            <div>
                <span>
                    <span style="white-space: nowrap">Filter:</span>
                    <span>
                        <input ng-model="annotationSearch" ng-change="annotationSearchUpdate()" style="font-size: 14px; width: auto; font-family: Arial" />
                    </span>
                    <span class="glyphicon glyphicon-remove" ng-click="clearAnnotationSearch()"></span>
                </span>

                <span id="addAnnotationPane">
                    @if (Request.IsAuthenticated) {
                        <button class="btn btn-default btn-md" data-toggle="modal" data-target="#annotateModal">
                            Annotate
                        </button>
                    } else { 
                        @Html.ActionLink("Log in to annotate", "Login", "Account", routeValues: new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink" })
                    }
                </span>

                <span id="layoutOptions">Layout:
                <a ng-class="{pillSelected : !linearLayout}" ng-click="setLayoutSideBySide()">Side-by-side</a>
                    <a ng-class="{pillSelected : linearLayout}" ng-click="setLayoutLinear()">Linear</a>
                </span>


            </div>

        </div>


        <div ng-if="!linearLayout" style="position: relative; height: 100%">
            @Html.Partial("_SideBySide")
        </div>
        <div ng-if="linearLayout">
            @Html.Partial("_Linear")
        </div>
        <div class="modal fade" id="editTextModal" tabindex="-1" role="dialog" aria-labelledby="editTextModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="editTextModalLabel">Edit</h4>
                    </div>
                    <table style="margin: 25px">
                        <tr>
                            <td>Author:</td>
                            <td>
                                <input type="text" ng-model="author" />
                            </td>
                        </tr>
                        <tr>
                            <td>Title:</td>
                            <td>
                                <input type="text" ng-model="title" />
                            </td>
                        </tr>
                        <tr>
                            <td>Content:</td>
                            <td>
                                <textarea ng-model="text" style="width: 100%"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Source:</td>
                            <td>
                                <input type="text" ng-model="source" />
                            </td>
                        </tr>
                        <tr>
                            <td>Tags:</td>
                            <td>
                                <input type="text" ng-model="tags" />
                            </td>
                        </tr>

                        <tr>
                            <td>Next text id:</td>
                            <td>
                                <input type="text" ng-model="nextText" />
                            </td>
                        </tr>

                        <tr>
                            <td>Previous text id:</td>
                            <td>
                                <input type="text" ng-model="prevText" />
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="updateTextDetails()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="annotateModal" tabindex="-1" role="dialog" aria-labelledby="annotateModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="annotateModalLabel">Add an annotation</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-click="stopPropagation($event)">
                            <div><b>The word or words you want to annotate:</b></div>
                            <div>
                                <input type="text" ng-model="anchor" ng-change="anchorUpdate()" style="width: 100%" />
                            </div>
                            <div>
                                <b>Annotation:</b>
                            </div>
                        </div>
                        <div>
                            <textarea ng-model="annotation" style="width: 100%; max-width: 100%" ng-click="stopPropagation($event)"></textarea>
                        </div>
                        <div ng-click="stopPropagation($event)">
                            <div><b>Source:</b></div>
                            <div>
                                <input type="text" ng-model="annotationSource" style="width: 100%" />
                            </div>
                            <div><b>Tags:</b></div>
                            <div>
                                <input type="text" ng-model="annotationTags" style="width: 100%" />
                            </div>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div><b>Matches:</b> {{matches}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="addAnnotation('@User.Identity.Name')">Add Annotation</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.highlight-4.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/linq.js_ver2.2.0.2/jquery.linq.js"></script>
<script src="~/Scripts/Controllers/TextViewController.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/linq.js_ver2.2.0.2/linq.js"></script>
<script>
    function reposition() {
        var rect = document.getElementById('searchBox').getBoundingClientRect()
        $('.annotationPane').css('top', rect.bottom);
        $('.contentBody').css('top', rect.bottom);
        $('.contentLinear').css('top', rect.bottom);
    }

    $(document).ready(function () {
        reposition();


        var width = $(window).width();
        // fire on window resize
        $(window).resize(function () {
            // do nothing if the width is the same
            if ($(window).width() == width) return;
            // update new width value
            width = $(window).width();
            reposition();

            var width = $(window).width();
        });
    });
</script>
